REDASH_HOST="http://localhost:5000/"
REDASH_API_KEY="q7tVfVilF8hulqrsRI1z7Yvb4uxvFvofsGUSWupJ"

DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_HOST="127.0.0.1"
DATABASE_NAME=redash_export
DATABASE_PASSWORD=Sellerworx123

EMAIL_TRANSPORT=gmail
EMAIL_PASSWORD=SomeRandomPassword!
EMAIL_USERNAME=vinay@fastmail.com

S3_LOCATION=us-west-2
S3_BUCKET_NAME=com.redash.exports
AWS_SERVER_PUBLIC_KEY=asm
AWS_SERVER_SECRET_KEY=asm2
