{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container align-items-center w-50">
    <h3>Create a New Job</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="query_name">Query Name</label>
            <input class="form-control" type="text" id="query_name" name="query_name" >
        </div>
        <div class="form-group">
            <label for="query_id">Query Id</label>
            <input class="form-control" type="number" id="query_id" name="query_id" >
        </div>
        <div class="form-group">
            <label for="parameters">Parameters</label>
            <input class="form-control" type="text" id="parameters" name="parameters" >
        </div>
        <div class="form-group">
            <label for="is_active">Active? (Check if yes)</label>
            <input class="form-control" type="checkbox" id="is_active" name="is_active" >
        </div>
        <div class="form-group">
            <label for="configured_emails">Configured Emails</label>
            <input class="form-control" type="text" id="configured_emails" name="configured_emails">
        </div>
        <div class="form-group">
            <label for="is_scheduled">Schedule it?</label>
            <input class="form-control" type="checkbox" id="is_scheduled" name="is_scheduled" >
        </div>
        <div class="form-group">
            <label for="schedule">Schedule</label>
            <input class="form-control" type="number" id="schedule" name="schedule" >
        </div>
        <div class="form-group">
            <label for="schedule_start_time">Schedule_start_time Start Time</label>
            <input class="form-control" type="datetime-local" id="schedule_start_time" name="schedule_start_time">
        </div>
        <div class="form-group">
            <label for="schedule_end_time">Schedule End Time</label>
            <input class="form-control" type="datetime-local" id="schedule_end_time" name="schedule_end_time">
        </div>
        <div class="form-group">
            <label for="is_excel_required">Is Required as Excel? (Check if yes)</label>
            <input class="form-control" type="checkbox" id="is_excel_required" name="is_excel_required" >
        </div>
        <div class="form-group">
            <label for="should_be_zipped">Should be Zipped? (Check if yes)</label>
            <input class="form-control" type="checkbox" id="should_be_zipped" name="should_be_zipped" >
        </div>
        <div class="form-group">
            <label for="is_sftp_used">Should be pushed to SFTP? (Check if yes)</label>
            <input class="form-control" type="checkbox" id="is_sftp_used" name="is_sftp_used">
        </div>
        <div class="form-group">
            <label for="sftp_host">SFTP Host</label>
            <input class="form-control" type="text" id="sftp_host" name="sftp_host" >
        </div>
        <div class="form-group">
            <label for="sftp_username">SFTP Username</label>
            <input class="form-control" type="text" id="sftp_username" name="sftp_username"
                >
        </div>
        <div class="form-group">
            <label for="sftp_password">SFTP Password</label>
            <input class="form-control" type="text" id="sftp_password" name="sftp_password"
                >
        </div>
        <div class="form-group">
            <label for="sftp_path">SFTP Path</label>
            <input class="form-control" type="text" id="sftp_path" name="sftp_path" >
        </div>
        <button type="submit" class="btn btn-primary mb-2" formaction="{% url 'createjob' %}">Save</button>
    </form>
</div>
{% endblock %}
